# Scratch folders
.research/
.scratch/

# User files
openide.bat
.editorconfig

# Nix
.direnv/
# This now seems to trigger a nix flake error: Add flake.nix, flake.lock, .envrc, to .git/info/exclude

# Home Manager
.config

# Dotfiles
.dotfiles

# VScode 
#.vscode/

# Jetbrains related
*.ipr
*.iws
.idea/*
out/
.idea_modules/
.attach_pid*

