#!/bin/bash

# Path of active commit type csv file
COMMIT_CSV_FILE="commit_types.csv"

# Add emoji to commit message: Y/N
ADD_EMOJI="Y"

# If prompting add a prompt for scope
PROMPT_FOR_SCOPE="N"

# If prompting add a prompt for breaking change
PROMPT_FOR_BREAKING="N"

# If prompting add a prompt for message body
PROMPT_FOR_BODY="N"

# If prompting add a prompt for message end
PROMPT_FOR_END="N"

# Have no spaces between emoji, type, and description,
# with delimiter either ":" or "!" not "!:"
SQUEEZE_MESSAGE="Y"

# If flag is not valid: warn/error/ignore; warn
# will re-prompt if message is over 50 chars
INVALID_FLAG_ACTION="warn"

# Terminate if warning: Y/N
TERMINATE_ON_WARNING="N"
